.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 0 5%;
}

.topContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 2em;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text h1 {
    font-size: 5rem;
    font-weight: bolder;
}

.text span {
    font-size: 1.3em;
}

.paragraph {
    font-size: 1.3em;
    padding-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    outline: none;
    border: 1px solid black;
    background-color: white;
    padding: 12px;
}

.buttons button:hover {
    background-color: #44c0ea;
    color: white;
    border: 1px solid white;
}

.image img {
    border-radius: 1px solid black;
    border-radius: 16px;
    box-shadow: 5px 0px 10px #ccc;
    width: 700px;
}

.aboutContainer {
    padding-bottom: 3em;
}

.aboutContainer h1 {
    font-size: 5rem;
    font-weight: bolder;
    padding-bottom: 15px;
}

.aboutContainer p {
    font-size: 1.2em;
}

.employeesContainer {
    padding-bottom: 3em;
}

.employeesContainer h1 {
    font-size: 5rem;
    font-weight: bolder;
    padding-bottom: 15px;
}

.list {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.listText {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.listText h2 {
    font-weight: bolder;
}

.listText span {
    font-size: 2em;
}

.listText p {
    font-size: 1.2em;
}

.listImage {
    width: 300px;
    height: 100%;

}

.applyContainer {
    padding-bottom: 3em;
}

.applyContainer h1 {
    font-size: 5em;
    font-weight: bolder;
}

.applyButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #44c0ea;
    padding: 0 20px;
    border-radius: 16px;
    color: white;
    font-size: 1.5em;
}

.applyButton div {
    padding-bottom: 6px;
}

.applyButton a {
    font-size: 1.2em;
    color: black;
    padding-top: 10px 0;
}

.menuUnclicked {
    transform: rotate(0);
    transition: all 500ms ease;
}

.menuClicked {
    transform: rotate(90deg);
    transition: all 500ms ease;
}


.names h4 {
    padding: 10px 0;
}

@media screen and (max-width: 1300px) {
    .topContainer {
        flex-direction: column;
        height: 100%;
    }

    .text {
        padding-top: 2em;
    }

    .image img {
        margin-bottom: 2em;
    }
}

@media screen and (max-width:800px) {
    .list {
        flex-direction: column;
    }

    .listImage {
        width: 100%;
    }
}

@media screen and (max-width:750px) {
    .image img {
        width: 550px;
    }
}

@media screen and (max-width: 600px) {
    .text h1 {
        font-size: 3em;
    }

    .image img {
        width: 350px;
    }

    .aboutContainer h1 {
        font-size: 3em;
    }

    .employeesContainer h1 {
        font-size: 3em;
    }

    .applyContainer h1 {
        font-size: 3em;
    }
}